<h2>Tema 02: Comunicación entre componentes</h2>

<h3>@Input</h3>
<div class="flex">
  <app-sugus [sugus]="sugusFresa"></app-sugus>
  <app-sugus [sugus]="sugusNaranja"></app-sugus>
  <app-sugus></app-sugus>
</div>


<!-- <input>
<input type="text">
<input type="color">
<input type="number">
<input type="date"> -->


<h3>@Output</h3>

<div class="flex">
  <app-producto *ngFor="let productoItem of productos" [producto]="productoItem"
    (onAddToCart)="addProductToCart($event)"></app-producto>
</div>

<div>
  Carrito:
  <pre>{{carrito | json}}</pre>
</div>