<div class="flex">
  <app-vendehumo-card *ngFor="let vendehumoItem of listaVendehumos" [vendehumo]="vendehumoItem"
    (onVotar)="votarVendehumo($event)"></app-vendehumo-card>
</div>

<div>
  <div class="flex">
    <button type="button" *ngFor="let categoria of categorias" (click)="setCategoriaSeleccionada(categoria)">{{categoria
      | titlecase}}</button>
  </div>

  <div class="flex">
    <app-vendehumo-card *ngFor="let vendehumoItem of vendehumosFiltradosPorCategoriaSeleccionada"
      [vendehumo]="vendehumoItem" (onVotar)="votarVendehumo($event)"></app-vendehumo-card>
  </div>
</div>